.jumbotron {
    background-image: linear-gradient(to right, rgb(120, 62, 120), rgb(103, 103, 211));
    color: white;
}

.search {
    padding: 10px;
}

.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.very-high {
    background-color: red;
}